@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white;
}

.project-container {
  display: flex;
  overflow-x: scroll;
  width: 100%; /* Adjust this width as needed */
  scroll-snap-type: x mandatory; /* Enable snapping to each project */
}

.relative {
  /* Adjust the styling for individual project items here */
  flex: 0 0 auto; /* Ensures that each project takes up its content width */
  scroll-snap-align: start; /* Align each project to the start of the container */
  margin-right: 20px; /* Add spacing between projects */
}

/* .project-image {
  max-width: 50px;
  max-height: 30px;
} */
